.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #c2c2c2; 
}
 
.Board {
  margin: auto;
}

.Cell {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  cursor: pointer;
}

.Cell-lit {
  background-color: yellow;
}
